html,
body{
    padding: 0 !important;
    max-width: auto !important;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

html,
body{
    background-color: var(--color-canvas-default);
    color: var(--color-fg-default);
}

.markdown-body {
    max-width: 800;
  }
